@using Wallet.ApiAccess.WalletApiModels;

@model IEnumerable<Owner>;

@{
    ViewData["Title"] = "Home Page";
}


@foreach (var owner in Model)
{
    <h1>@owner.Name</h1>
    @foreach (var wallet in owner.Wallets)
    {
        <p class="btn-outline-dark">@wallet.Name</p>
        <div class="card-deck">
            @foreach(var ccard in wallet.Cards)
            {
                <div class="card">
                    <div class="card-header">@ccard.Name</div>
                </div>
            }
        </div>
    }

}
